<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="templates/styles.css">
</head>

<body>
	<nav class="navbar sticky-top navbar-expand-lg navbar-light">
    
    	<a class="navbar-brand" id="HeaderBrand" href="index.html">
      		<img src="https://media.giphy.com/media/JRZwMhzk7WolG/giphy.gif" width="30" height="30" class="d-inline-block align-top" alt="">
      		Mission to Mars
	  	</a>

      	<ul class="navbar-nav mr-auto">
        	<li class="nav-item" >
          	<a class="nav-link" id="updatebuttton" href="/scrape">Update</a>
        	</li>
      	</ul>	
	</nav>

	<div class='container-fluid' id='featured image & weather'>
		<div class='row py-4'>
			<div class='col-md-8'>
				<img class='img-fluid' src="{{mars.featured_image_url}}" alt='Mars featured image'>
				<h6>Featured Mars Image</h6>
			</div>

			<div class='col-md-4'>
				<div class='row'>
					<div class='col-md-12'>
						<h5>Current Weather on Mars</h5>
						<p>{{mars.mars_weather}}</p>
					</div>
				</div>
				<div class='row'>
					<div class='col-md-12'>
						<h5>Mars Facts</h5>
						{{mars.mars_table}}
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class='container-fluid' id='news'>
		<div class='row'>
			<div class='col-md-12'>
				<h2>Latest Mars News</h2>
				<h4>{{mars.news_title}}</h4>
				<h4>{{mars.news_p}}</h4>
			</div>
		</div>
	</div>

	<div class="container-fluid" id='hemispheres'>
		<div class='row py-4'>
			<div class='col-md-12'>
				<h2>Mars Hemispheres</h2>
				<hr>
			</div>
		</div>

		<div class="row">
			<div class='col-md-6'>
				<img class='img-fluid' src="{{mars.mars_hemispheres[0]['img_url']}}">
				<h4>{{mars.mars_hemispheres[0]['title']}}</h4>
			</div>
			<div class='col-md-6'>
				<img class='img-fluid' src="{{mars.mars_hemispheres[1]['img_url']}}">
				<h4>{{mars.mars_hemispheres[1]['title']}}</h4>
			</div>
		</div>

		<div class='row pt-3'>
			<div class='col-md-6'>
				<img class='img-fluid' src="{{mars.mars_hemispheres[2]['img_url']}}">
				<h4>{{mars.mars_hemispheres[2]['title']}}</h4>
			</div>
			<div class='col-md-6'>
				<img class='img-fluid' src="{{mars.mars_hemispheres[3]['img_url']}}">
				<h4>{{mars.mars_hemispheres[3]['title']}}</h4>
			</div>
		</div>
	</div>
</body>
</html>